* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: #444;
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

li {
  list-style: none;
}


.operation {
  border-radius: .6rem;
  padding: 2rem;
  color: #333;
  width: 100%;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr .5fr;
  grid-template-rows: .5fr .5fr;
  gap: 1rem 1rem;
}


.form.form--loan {
  grid-template-columns: 1.5fr .5fr 1.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
  
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: .8rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #fff;
  cursor: pointer;
  padding: 2px 15px;
  transition: all 0.3s;
  
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1rem;
  text-align: right;
  font-size: .8rem;
}

.timer {
  font-weight: 600;
}
